/* Local fonts for the project */

/* Bai Jamjuree - Regular */
@font-face {
  font-family: 'Bai Jamjuree';
  src: url('/fonts/BaiJamjuree-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Ostrich Sans - Heavy */
@font-face {
  font-family: 'Ostrich Sans';
  src: url('/fonts/OstrichSans-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* TayKari */
@font-face {
  font-family: 'TayKari';
  src: url('/fonts/TayKari.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

