/* Icon styles with mask-image */

/* Carousel navigation arrows */
.carousel-arrow {
  position: relative;
  background: transparent;
  border: none;
}

.carousel-arrow::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #333333;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  transition: background-color 0.3s ease;
}

.carousel-arrow:hover::before {
  background-color: #F26E21;
}

.carousel-arrow-prev::before {
  mask-image: url('/assets/icons/guidance_left-arrow.svg');
}

.carousel-arrow-next::before {
  mask-image: url('/assets/icons/guidance_right-arrow.svg');
}

